$top-text-color-dark: #4d5053;
$top-title-color-dark: #292f36;
$top-text-color-white: #fff;

$top-section-background-color: #F4F0EC;

$top-color-accent-dark: rgba(41, 47, 54, 1);
$top-color-hover: #cda274;

$top-time-animation: 250ms;
$top-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

body {
  margin: 0;
  background-color: #ffffff;
  color: $top-text-color-dark;

  font-family: Jost, sans-serif;
  letter-spacing: 0.01em;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.title {
  font-family: DM Serif Display, serif;
  letter-spacing: 0.02em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}
