.articles-news {
  padding-bottom: 200px;
}

.container-articles-news {
  display: block;
}

// .articles-container {
// }

.articles-title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.24;
  text-align: center;
  color: $top-title-color-dark;
  width: 362px;
  margin: auto;
}
// .articles-text {
// }
// .articles-list {
// }
// .list {
// }
// .articles-item {
// }
// .container-advantages {
// }
// .advantages {
// }
// .date {
// }
// .join-container {
// }
// .join-title {
// }
// .join-text {
// }
// .button-contact {
// }
