<section>
  <div>
    <ul>
      <li>
        <a href="">
            <img
              src="./images/team/Alex.jpg "
              alt="men 1"
              width="283"
              height="433"
              class="team-item-img"
            />
          <div class="overlay">
            <h2>Alex</h2>
            <p>Designer</p>
            <ul>
              <li>
                <a href="">
                  <svg class="team-icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
