<div class="hero-wrap">
    <section class="hero">
      <div class="hero-container">
        <div class="hero-slider">
          <div class="hero-slide"> <img srcset="./images/hero/hero1.jpg 1x, ./images/hero/hero1@2x.jpg 2x" src="./images/hero/hero1.jpg" alt="white living room" width="1920"></div>
          <div class="hero-slide"> <img srcset="./images/hero/hero2.jpg 1x, ./images/hero/hero2@2x.jpg 2x" src="./images/hero/hero2.jpg" alt="beige living room" width="1920"></div>
          <div class="hero-slide"> <img srcset="./images/hero/hero3.jpg 1x, ./images/hero/hero3@2x.jpg 2x" src="./images/hero/hero3.jpg" alt="living room with kitchen" width="1920"></div>
        </div>

        <div class="container">         
          <div class="hero-content">
            <h1 class="hero-title title">Let Your Home Be Unique</h1>
            <p class="hero-text">
            There are many variations of the passages of lorem Ipsum
            fromavailable,variations of the passages.
            </p>
            <div class="button-wrap">
              <button type="button" class="hero-btn">Get Started</button>
              <svg class="hero-btn-icon" width="15" height="13">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </div>        
          </div>
        </div> 
      </div>
    </section>
  </div>