<header>
    <div class="header container">
          <svg class="header-icon-logo" width="34" height="34">
              <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        <a href="" class="header-logo">Interno</a>
        <ul class="site-nav-list list">
          <li class="site-nav-item">
            <a href="" class="site-nav-link">Home</a>
          </li>
          <li class="site-nav-item"><a href="" class="site-nav-link link">Services</a></li>
          <li class="site-nav-item"><a href="" class="site-nav-link link">Project</a></li>
          <li class="site-nav-item"><a href="" class="site-nav-link link">Blog</a></li>
          <li class="site-nav-item"><a href="" class="site-nav-link link">Pages</a></li>
          <li class="site-nav-item"><a href="" class="site-nav-link link">Contact</a></li>
        </ul>
        <svg class="header-icon-search" width="21" height="21">
              <use href="./images/icons.svg#icon-search"></use>
          </svg>
    </div>
    </header>