<section class="our-work-section">
  <div class="our-work-container container">
    <h2 class="visually-hidden">Our Work</h2>
    <ul class="our-work-list list">
      <li class="our-work-item">
        <h3 class="our-work-title title">Project Plan</h3>
        <p class="our-work-description">
          There are many variations of the passages of lorem Ipsum from
          available, majority.
        </p>
        <div class="our-work-link-wrapper">
          <a class="our-work-link" href=""
            >Read More
            <svg width="15" height="13">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="our-work-item">
        <h3 class="our-work-title title">Interior Work</h3>
        <p class="our-work-description">
          There are many variations of the passages of lorem Ipsum from
          available, majority.
        </p>
        <div class="our-work-link-wrapper">
          <a class="our-work-link" href=""
            >Read More
            <svg width="15" height="13">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="our-work-item">
        <h3 class="our-work-title title">Realization</h3>
        <p class="our-work-description">
          There are many variations of the passages of lorem Ipsum from
          available, majority.
        </p>
        <div class="our-work-link-wrapper">
          <a class="our-work-link" href=""
            >Read More
            <svg class="our-work-icon" width="15" height="13">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="art-style">
  <div class="art-style-container container">
    <div class="art-style-wrapper">
      <h2 class="art-style-title title">
        We Create The Art Of Stylish Living Stylishly
      </h2>
      <p class="art-style-description">
        It is a long established fact that a reader will be distracted by the of
        readable content of a page when lookings at its layouts the points of
        using that it has a more-or-less normal.
      </p>
      <div class="art-style-contacts">
        <a href="" class="art-icon-tel">
          <svg width="32" height="32">
            <use href="./images/icons.svg#icon-call"></use>
          </svg>
        </a>
        <div>
          <a href="tel:012345678" class="art-style-contacts-tel">012345678</a>
          <p class="contacts-description">Call Us Anytime</p>
        </div>
      </div>
      <button class="art-style-button" type="button">
        Get Free Estimate
        <svg width="15" height="13">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>

    <div class="single-item">
      <div>
        <img
          class="art-img"
          srcset="./images/work-art/art-room@2x.jpg 2x"
          src="./images/work-art/art-room.jpg"
          alt="studio"
        />
      </div>

      <div>
        <img
          class="art-img"
          srcset="./images/work-art/art-home@2x.jpg 2x"
          src="./images/work-art/art-home.jpg"
          alt="studio"
        />
      </div>

      <div>
        <img
          class="art-img"
          srcset="./images/work-art/art-studio@2x.jpg 2x"
          src="./images/work-art/art-studio.jpg"
          alt="studio"
        />
      </div>
    </div>
  </div>
</section>
