<section class="articles-news">
  <div class="articles-container container">
    <h2 class="articles-title">Articles & News</h2>
    <p class="articles-text">
      It is a long established fact that a reader will be distracted by the of
      readable content of a page when lookings at its layouts the points of
      using.
    </p>
    <ul class="articles-list list">
      <li class="articles-item">
        <img
          srcset="./images/article-news/articlesimages1@2x.jpg 2x"
          src="./images/article-news/articlesimages1.jpg"
          alt="kitchen chairs and a table"
          width="340"
        />
        <div class="container-advantages">
          <h3 class="advantages">
            Let’s Get Solution For Building Construction Work
          </h3>
          <p class="date">26 December,2022</p>
        </div>
      </li>
      <li class="articles-item">
        <img
          srcset="./images/article-news/articlesimages2@2x.jpg 2x"
          src="./images/article-news/articlesimages2.jpg"
          alt="cookstove"
          width="340"
        />
        <div class="container-advantages">
          <h3 class="advantages">
            Low Cost Latest Invented Interior Designing Ideas.
          </h3>
          <p class="date">22 December,2022</p>
        </div>
      </li>
      <li class="articles-item">
        <img
          srcset="./images/article-news/articlesimages3@2x.jpg 2x"
          src="./images/article-news/articlesimages3.jpg"
          alt="kitchen sink"
          width="340"
        />
        <div class="container-advantages">
          <h3 class="advantages">
            Best For Any Office & Business Interior Solution
          </h3>
          <p class="date">25 December,2022</p>
        </div>
      </li>
    </ul>
  </div>
</section>
