<section class="section-projects">
    <div class="container">
        <h2 class="projects-title title">Follow Our Projects</h2>
        <p class="projects-text text">It is a long established fact that a reader will be distracted by the of readable
            content of page lookings at its layouts points.</p>
        <ul class="projects-list list">




            <li class="projects-list-item">

                <div class="slide-img">
                    <div><img srcset="./images/projects/kitchen1x.jpg 1x,
               ./images/projects/kitchen2x.jpg 2x" class="projects-img-first" src="./images/projects/kitchen1x.jpg"
                            alt="kitchen" width="525px"></div>
                    <div><img srcset="./images/projects/room1x.jpg 1x,
               ./images/projects/room2x.jpg 2x" class="projects-img-first" src="./images/projects/room1x.jpg"
                            alt="kitchen" width="525px"></div>
                    <div><img srcset="./images/projects/living1x.jpg 1x,
               ./images/projects/living2x.jpg 2x" class="projects-img-first" src="./images/projects/living1x.jpg"
                            alt="kitchen" width="525px"></div>
                </div>
                <div class="projects-list-container">
                    <div class="projects-list-text-container">
                        <h3 class="projects-card-title title">Modern Kitchan</h3>
                        <p class="projects-casd-text text">Decor / Artchitecture</p>
                    </div>

                    <a class="projects-list-link" href="">
                        <svg class="icon-svg" width="10" height="20" viewBox="0 0 10 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 19L9 10L1 1" stroke="#292F36" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </a>




            </li>
            <li class="projects-list-item">

                <div class="slide-img">
                    <div><img srcset="./images/projects/room1x.jpg 1x,
               ./images/projects/room2x.jpg 2x" class="projects-img-second" src="./images/projects/room1x.jpg"
                            alt="kitchen" width="525px"></div>
                    <div><img srcset="./images/projects/table1x.jpg 1x,
               ./images/projects/table2x.jpg 2x" class="projects-img-second" src="./images/projects/table1x.jpg"
                            alt="kitchen" width="525px"></div>
                    <div><img srcset="./images/projects/living1x.jpg 1x,
               ./images/projects/living2x.jpg 2x" class="projects-img-second" src="./images/projects/living1x.jpg"
                            alt="kitchen" width="525px"></div>
                </div>


                <div class="projects-list-container">
                    <div class="projects-list-text-container">
                        <h3 class="projects-card-title title">Modern Kitchan</h3>
                        <p class="projects-casd-text text">Decor / Artchitecture</p>
                    </div>
                    <a class="projects-list-link" href="">
                        <svg class="icon-svg" width="10" height="20" viewBox="0 0 10 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 19L9 10L1 1" stroke="#292F36" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </a>



                </div>
            </li>

            <li class="projects-list-item">
                <div class="slide-img">
                    <div><img srcset="./images/projects/living1x.jpg 1x,
               ./images/projects/living2x.jpg 2x" class="projects-img-therd" src="./images/projects/living1x.jpg"
                            alt="kitchen" width="525px"></div>
                    <div><img srcset="./images/projects/table1x.jpg 1x,
               ./images/projects/table2x.jpg 2x" class="projects-img-therd" src="./images/projects/table1x.jpg"
                            alt="kitchen" width="525px"></div>
                    <div><img srcset="./images/projects/kitchen1x.jpg 1x,
               ./images/projects/kitchen2x.jpg 2x" class="projects-img-therd" src="./images/projects/kitchen1x.jpg"
                            alt="kitchen" width="525px"></div>
                </div>


                <div class="projects-list-container">
                    <div class="projects-list-text-container">
                        <h3 class="projects-card-title title">Modern Kitchan</h3>
                        <p class="projects-casd-text text">Decor / Artchitecture</p>
                    </div>
                    <a class="projects-list-link" href="">
                        <svg class="icon-svg" width="10" height="20" viewBox="0 0 10 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 19L9 10L1 1" stroke="#292F36" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </a>



                </div>
            </li>
            <li class="projects-list-item">
                <div class="slide-img">
                    <div><img srcset="./images/projects/table1x.jpg 1x,
               ./images/projects/table2x.jpg 2x" class="projects-img-fore" src="./images/projects/table1x.jpg"
                            alt="kitchen" width="525px"></div>
                    <div><img srcset="./images/projects/room1x.jpg 1x,
               ./images/projects/room2x.jpg 2x" class="projects-img-fore" src="./images/projects/room1x.jpg"
                            alt="kitchen" width="525px"></div>
                    <div><img srcset="./images/projects/kitchen1x.jpg 1x,
               ./images/projects/kitchen2x.jpg 2x" class="projects-img-fore" src="./images/projects/kitchen1x.jpg"
                            alt="kitchen" width="525px"></div>
                </div>


                <div class="projects-list-container">
                    <div class="projects-list-text-container">
                        <h3 class="projects-card-title title">Modern Kitchan</h3>
                        <p class="projects-casd-text text">Decor / Artchitecture</p>
                    </div>
                    <a class="projects-list-link" href="">
                        <svg class="icon-svg" width="10" height="20" viewBox="0 0 10 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 19L9 10L1 1" stroke="#292F36" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </a>



                </div>
            </li>

        </ul>
    </div>

</section>


<section class="section-count">
    <div class="container">
        <h2 class="visually-hidden">Count</h2>
        <ul class="count-list list">

            <li class="count-list-item">
                <div>
                    <h3 class="count-title title">12</h3>
                    <p class="count-text">Years Of Experiance</p>
                </div>
            </li>
            <li class="count-list-item">
                <div>
                    <h3 class="count-title title">85</h3>
                    <p class="count-text">Success Project</p>
                </div>
            </li>
            <li class="count-list-item">
                <div>
                    <h3 class="count-title title">15</h3>
                    <p class="count-text">Active Project</p>
                </div>
            </li class="count-list-item">
            <li>
                <div>
                    <h3 class="count-title title">95</h3>
                    <p class="count-text">Happy CUstomers</p>
                </div>
            </li>
        </ul>
    </div>
</section>