        <section class="section-projects">
            <div class="container">
            <h2 class="title">Follow Our Projects</h2>
            <p class="text">It is a long established fact that a reader will be distracted by the of readable content of page  lookings at its layouts  points.</p>
            <ul class="list">
                <li>
                    <div>
                        <img src="./images/projects/kitchen1x.jpg" alt="">
                        <h3 class="title">Modern Kitchan</h3>
                        <p class="text">Decor / Artchitecture</p>
                        <a href="">></a>

                </div>
            </li>
            <li>
                    <div>
                        <img src="./images/projects/room1x.jpg" alt="">
                        <h3 class="title">Modern Kitchan</h3>
                        <p>Decor / Artchitecture</p>
                        <a href="">></a>

                </div>
            </li>
            <li>
                    <div>
                        <img src="./images/projects/living1x.jpg" alt="">
                        <h3 class="title">Modern Kitchan</h3>
                        <p>Decor / Artchitecture</p>
                        <a href="">></a>

                </div>
            </li>
            <li>
                    <div>
                        <img src="./images/projects/table1x.jpg" alt="">
                        <h3 class="title">Modern Kitchan</h3>
                        <p>Decor / Artchitecture</p>
                        <a href="">></a>

                </div>
            </li>
            </ul>
            </div>

        </section>
        <section class="section-count">
            <div class="container">
            <h2 class="visually-hidden">Count</h2>
            <ul class="list">
                
                <li>
                    <p class="title">12</p>
                    <p>Years Of Experiance</p>
                </li>
                <li>
                    <p class="title">85</p>
                    <p>Success Project</p>
                </li>
                <li>
                    <p class="title">15</p>
                    <p>Active Project</p>
                </li>
                <li>
                    <p class="title">95</p>
                    <p>Happy CUstomers</p>
                </li>
            </ul>
            </div>
        </section>