<section class="people-brand">
<div class="people container">
    <h2 class="people-title">What the People Thinks
        About Us</h2>
        <ul class="people-list">
            <li class="people-item">
							<div class="people-img-wrap">
								<div class="thumb">
								<img src="./images/brend/nattasha-mith.jpg" alt="" width="171">
								</div>
								<div class="people-info">
                <h3 class="people-name">Nattasha Mith</h3>
                <p class="people-place">Sydney, USA</p>
								</div>
							</div>
                <p class="people-text">Lorem Ipsum is simply dummy 
                    text of the typesetting industry. 
                    Ipsum has been.</p>
            </li>
            <li class="people-item">
							<div class="people-img-wrap">
								<div class="thumb">
                <img src="./images/brend/raymond-galario.jpg" alt="" width="305">
								</div>
								<div class="people-info">
                <h3 class="people-name">Raymond Galario</h3>
                <p class="people-place">Sydney, Australia</p>
								</div>
							</div>
                <p class="people-text">Lorem Ipsum is simply dummy 
                    text of the typesetting industry. 
                    Ipsum has been scrambled it 
                    to make a type book.</p>
            </li>
            <li class="people-item">
							<div class="people-img-wrap">
								<div class="thumb">
                <img src="./images/brend/benny-roll.jpg" alt="" width="314">
								</div>
								<div class="people-info">
                <h3 class="people-name">Benny Roll</h3>
                <p class="people-place">Sydney, New York</p>
							</div>
							</div>
                <p class="people-text">Lorem Ipsum is simply dummy 
                    text of the typesetting industry. 
                    Ipsum has been scrambled.</p>
            </li>
        </ul>
</div>
<div class="brand container">
    <ul class="brand-list">
        <li class="brand-item">
            <a href="" class="barnd-link-icon">
                <svg class="brand-icon" width="131" height="42">
                    <use href="./images/icons.svg#icon-home"></use>
                </svg>
            </a>
        </li>
        <li class="brand-item">
            <a href="" class="barnd-link-icon">
                <svg class="brand-icon" width="102" height="102">
                    <use href="./images/icons.svg#icon-vg"></use>
                </svg>
            </a>
        </li>
        <li class="brand-item">
            <a href="" class="barnd-link-icon">
                <svg class="brand-icon" width="163" height="43">
                    <use href="./images/icons.svg#icon-brand"></use>
                </svg>
            </a>
        </li>
        <li class="brand-item">
            <a href="" class="barnd-link-icon">
                <svg class="brand-icon" width="144" height="44">
                    <use href="./images/icons.svg#icon-nature"></use>
                </svg>
            </a>
        </li>
        <li class="brand-item">
            <a href="" class="barnd-link-icon">
                <svg class="brand-icon" width="117" height="47">
                    <use href="./images/icons.svg#icon-classic"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>
</section>